<div class="" style="margin: 10px; padding: 10px">
  <h2>Ask your coach anything</h2>
  <form action="/answer" data-turbo="false" class="form-control">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
